<html>
    <head>
    <title>Project</title>
    </head>
    <body>
        <navbar>
            <a href="{{url_for('index')}}">主页</a>
            <a href="{{url_for('upload_image')}}">上传水稻叶片</a>
            <a href="{{ url_for('all_effects') }}">所有效果</a>
            <a href="{{ url_for('video1') }}">视频流</a>
            <a href="{{ url_for('cartoonize') }}">动画视频</a>
            <a href="{{url_for('oil_painting1')}}">油画视频</a>
            <a href="{{url_for('black_and_white_sketch1')}}">黑白素描</a>
            <a href="#">About Us</a>
        </navbar>
        <br>
        {% block content %} {% endblock %}
    </body>
    </html>

