<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="no-referrer" />
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<p>upload image successfully</p>
<p>filename:<b>{{name}}</b></p>
   <div class="container">
    <div class="contContent">
        <img src="{{ user_image }}" alt="原水稻叶片图">
        <img src="./6.jpg" alt="原水稻叶片图"/>
        <img REFERRER="NO-REFERRER" src="/Users/liuzihao/Documents/gitrepository/leaf_effect/app/templates/6.jpg" />
        <img src="/IMG_8150.JPG" />
        <img src="/i/eg_chinarose.jpg" />
    </div>
    </div>
</body>
</html>